@tailwind base;
@tailwind components;
@tailwind utilities;

.start-div{
    background:url('https://www.thesubath.com/asset/News/7354/cns-summer-quiz-.jpg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}